<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="'Blog Delta | Article ' + ${article.id} + ' - ' + ${article.title}"></title>
</head>
<body>
	<div class="nav_bar">
		<a th:href="@{/public/category/{id}(id=${article.category_id})}"><button>Back</button></a>
	</div>

	<div class="article">
		<h1><span th:text="${article.title}"/></h1>
		<p><span th:text="${article.content}"/></p>
	
		<p>Article written at <span th:text="${article.date}"/> by <span th:text="${article.author_name}"/>, user n°<span th:text="${article.user_id}"/></p>
	</div>
	
	<a th:href="@{/private/newComment?article_id={id}(id=${article.id})}"><button>Create a new comment on this post</button></a>
	
	<div class="comments">
		<p>List of comments</p>
		<table>
			<thead>
				<th>Username</th>
				<th>Date</th>
				<th>Comment</th>
				<th>Delete</th>
				<th>Edit comment</th>
			</thead>
			<tbody>
				<tr th:each="comment: ${comments}">
					<td><span th:text="${comment.author_name}"/></td>
					<td><span th:text="${comment.date}"/></td>
					<td><span th:text="${comment.comment}"/></td>
					<td><a th:href="@{/private/deleteComment/{id}(id=${comment.id})}">X</a></td>
					<td><a th:href="${'/private/updateComment/' + {comment.id} + '?article_id=' + {article.id}}">Click here</a></td>
				</tr>
			</tbody>
		</table>
	</div>
		
</body>
</html>