<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog Delta | Categories</title>
</head>
<body>

	<div class="categories">
		<h1>List of categories</h1>
		
		<table>
			<thead>
				<th>Name</th>
				<th>Link</th>
			</thead>
			<tbody>
				<tr th:each="category: ${categories}">
					<td><span th:text="${category.name}"/></td>
					<td><a th:href="@{/public/category/{id}(id=${category.id})}">Articles of this categorie</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<a href="/private/newCategory"><button>Create a new category</button></a>

</body>
</html>