<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog Delta | Categories</title>
</head>
<body>

	<div class="categories">
		<h1>List of categories</h1>
		
		<table>
			<thead>
				<th>Id</th>
				<th>Name</th>
				<th>Link</th>
			</thead>
			<tbody>
				<tr th:each="category: ${categories}">
					<td><span th:text="${category.id}"/></td>
					<td><span th:text="${category.name}"/></td>
					<td><a th:href="@{/public/category/{id}(id=${category.id})}">Articles of this categorie</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div class="new_cat">
		<p>Add a new categorie !</p>
		<form action="/public/categories" method="get">
			<div class="form-article">
				<label for="categorie_name">Enter categorie name: </label>
		    	<input type="text" name="categorie_name" id="name" maxlength="24" required>
	    	</div>
	    	<div class="form-article">
			    <input type="submit" value="Create this category">
			</div>
		</form>
	</div>
	

</body>
</html>