<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Delta Blog | New article</title>
</head>
<body>
	<div class="new_article">
		<p>Add a new article !</p>
		<form th:action="@{/private/article}" th:object="${article}" method="post">
			<div class="form-article">
				<label for="article_title">Enter article title: </label>
		    	<input type="text" th:field="*{title}" name="article_title" id="title" maxlength="24" required>
	    	</div>
	    	<div class="form-article">
			    <label for="article_content">Enter the content of your article: </label>
			    <input type="text" th:field="*{content}" name="article_content" id="content" maxlength="3000" required>
			</div>
			<div class="form-article">
			    <button type="submit">Post this article in this category !</button>
			</div>
		</form>
	</div>
</body>
</html>